@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


.active {
    @apply text-orange-500 underline underline-offset-4
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination li {
   margin: 0 5px; 
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}

.pagination a:hover {
    background: #eee;
}

.pagination li.activePagination {
    background: rgb(255, 106, 0);
    border-radius: 4px;
    color: #fff;
}

.active-button {
    color: #fc3c1a;
}
.logoCLB {
    width: 100px;
    height: auto;
}
.active-link{
    color: gray; /* hoặc bất kỳ màu nào bạn muốn sử dụng khi active */

}
:where(.css-dev-only-do-not-override-2q8sxy).ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-2q8sxy).ant-menu-light > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected {
    color: gray;
    text-decoration: none; /* Remove underline */
    border-bottom-color:none
}
.LoginRegister-module_or_txt_wrap_left__23aRU {
    background-image: linear-gradient( to right, rgba(0, 242, 254, 0) 0%, #1a2d4a 100% );
    height: 2px;
    width: 50%;
}
.LoginRegister-module_or_txt_wrap_right__3wUyP {
    background-image: linear-gradient( to right, #1a2d4a 0%, rgba(0, 242, 254, 0) 100% );
    height: 2px;
    width: 50%;
}
.text .h3::after{
    position: absolute;
    left: 0;
    top: -6px;
    height: 32px;
    width: 4px;
    background: #e53637;
    content: "";
    box-sizing: border-box;
}
/* Thêm vào CSS của bạn */
a.highlight {
    background-color: orange;
    /* Các thuộc tính CSS khác cho nền cam */
}
